/* Global styles */
html, * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font: 1.8rem/1.56 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  text-align: center;
  margin-top: 6rem;
}


/* App styles */
.App-content {
  display: flex;
}


/* Sidebar styles */
.sidebar {
  width: 25rem;  
}

#burger-icon {
  cursor: pointer;
  padding: 2rem;
}

.burger-icon-bar1, .burger-icon-bar2, .burger-icon-bar3 {
  width: 3.2rem;
  height: 0.4rem;
  background-color: #0a0a0a;
  margin: 0.6rem 0;
  transition: 0.4s;
}

#burger-icon.open .burger-icon-bar1 {
  transform: rotate(-45deg) translate(-0.9rem, 0.7rem) ;
}

#burger-icon.open .burger-icon-bar2 {
  opacity: 0;
}

#burger-icon.open .burger-icon-bar3 {
  transform: rotate(45deg) translate(-0.7rem, -0.6rem) ;
}

.menu {
  display: none;  
}

.menu.open {
  display: flex;
}

.search {
  margin: 2rem;
}


/* Shows-grid styles */
.shows-grid-heading {
  white-space: pre-line;
}

.shows-grid {
  max-width: 96rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shows-grid li {
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.shows-grid img {
  height: 19.5rem;
}

.shows-grid h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.shows-grid p {
  font-size: 1.4rem;
  margin: 0;
}

/* Footer styles */
footer {
  width: 100%;
  text-align: center;
  background-color:#091C2C;
  padding: 2rem 0 1rem;
  margin: 5rem 0 0;
}

footer img {
  height: 4rem;
}

footer p {
  font-size: 1.2rem;
  color: #01D474;
  margin: 0;
}