/* Global styles */
html, * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font: 1.8rem/1.56 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* App styles */
.App {
  display: flex;
}


/* Sidebar styles */
.sidebar {
  width: 25rem;
}

.search {
  margin: 2rem;
}


/* Shows-grid styles */
.shows-grid {
  max-width: 96rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shows-grid li {
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.shows-grid img {
  height: 19.5rem;
}

.shows-grid h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.shows-grid p {
  font-size: 1.4rem;
  margin: 0;
}